// Colors
$primary-color: hsl(172, 67%, 45%);
$background-color: hsl(185, 41%, 84%);
$secondary-color: hsl(183, 100%, 15%);
$Dark-grayish-cyan: hsl(186, 14%, 43%);
$Dark-grayish-cyan-blur: hsl(186, 14%, 43%, 0.05);
$Grayish-cyan: hsl(184, 14%, 56%);
$white-color: hsl(0, 0%, 100%);
// font
$my-font: "Space Mono", monospace;
